<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="{{ link(asset('css/uptown.css'), 'stylesheet') }}">
        <link rel="stylesheet" href="{{ link(asset('css/style.css'), 'stylesheet') }}">
        <title>{% block title %}Tikou!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
            <main>
                {% block header %}
                    <div class="toc-block">
                        <section>
                            <div class="column">
                                <article>
                                    <div class="card columns twelve menu">
                                        <a href="{{ path('app_index') }}" {% if app.request.attributes.get('_route') == 'app_index' %}class="current"{% endif %}>{{ 'menu.csv' | trans }}</a>
                                        <a href="{{ path('app_fulfillment') }}" {% if app.request.attributes.get('_route') == 'app_fulfillment' %}class="current"{% endif %}>{{ 'menu.fulfillments' | trans}}</a>
                                    </div>
                                </article>
                            </div>
                        </section>
                    </div>
                {% endblock %}
                {% block content %}{% endblock %}
                <footer>
                    {% block footer %}{% endblock %}
                </footer>
            </main>
        {% endblock %}
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
