{% extends '::base.html.twig' %}

{% block content %}
    <div class="toc-block">
      <section>
          <div class="column">
              <article>
                  <div class="card columns twelve">
                      <h2>{{ 'form.upload.title' | trans }}</h2>
                      {{ form_start(form) }}
                          {{ form_row(form.file) }}
                          {{ form_row(form.submit) }}
                      {{ form_end(form) }}
                  </div>
              </article>
              <article>
                  <div class="column twelve">
                      <div class="alert notice">
                          <dl>
                              <dt>{{ 'form.upload.notice.title' | trans}}</dt>
                              <dd>{{ 'form.upload.notice.content' | trans | raw}}</dd>
                          </dl>
                      </div>
                  </div>
              </article>
          </div>
      </section>
    </div>
{% endblock %}
