{% extends '::base.html.twig' %}

{% import '@App/Fulfillment/macro.html.twig' as macro %}

{% block content %}
    <div class="toc-block">
        <section>
            <div class="column">
                <article>
                    <div class="column twelve card align-right transparent">
                        <a onclick="return confirm('{{ 'fulfillment.delete-confirm' | trans | e('js') }}')" href="{{ path('fulfillment_delete', {'id': fulfillment.id}) }}" class="button warning">{{ 'fulfillment.delete' | trans }}</a>
                        {% if fulfillment.failed %}
                            <a href="{{ path('fulfillment_edit', {'id': fulfillment.id}) }}" class="button">{{ 'fulfillment.edit' | trans }}</a>
                        {% else %}
                            <a href="#" class="button disabled">{{ 'fulfillment.edit' | trans }}</a>
                        {% endif %}
                    </div>
                </article>
                <article>
                    <div class="card columns twelve">
                        <table>
                            <thead>
                            <tr>
                                <th>{{ 'fulfillment.list.header.order' | trans }}</th>
                                <th>{{ 'fulfillment.list.header.tracking' | trans }}</th>
                                <th>{{ 'fulfillment.list.header.shipper' | trans }}</th>
                                <th>{{ 'fulfillment.list.header.supplier' | trans }}</th>
                                <th>{{ 'fulfillment.list.header.status' | trans }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><a href="/admin/orders/{{ fulfillment.order }}" target="_parent">#{{ fulfillment.order }}</a></td>
                                <td>
                                    {% if fulfillment.trackingLink is not empty %}
                                        <a href="{{ fulfillment.trackingLink }}" target="_blank">
                                            {{ fulfillment.trackingNumber }}
                                            &nbsp; <sup><i class="icon-offsite"></i></sup>
                                        </a>
                                    {% else %}
                                        {{ fulfillment.trackingNumber }}
                                    {% endif %}
                                </td>
                                <td>{{ fulfillment.shipperName | default('-') }}</td>
                                <td>{{ fulfillment.supplier | default('-') }}</td>
                                <td>
                                    {% if fulfillment.done %}<span class="tag green">{{ 'status.done' | trans }}</span>
                                    {% elseif fulfillment.failed %}<span
                                            class="tag red">{{ 'status.failure' | trans }}</span>
                                    {% elseif fulfillment.inProgress %}<span
                                            class="tag blue">{{ 'status.in_progress' | trans }}</span>
                                    {% endif %}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </article>
                {% if fulfillment.failed %}
                    <article>
                        <div class="card columns twelve">
                            <h2>{{ 'fulfillment.detail.error.title' | trans }}</h2>
                            {{ macro.array_to_list(fulfillment.decodedContext) }}
                        </div>
                    </article>
                {% endif %}
            </div>
        </section>
    </div>
{% endblock %}
